# Análise de Velocidade do Vento através da Distribuição de Weibull

# Montando o ambiente para leitura dos dados

In [0]:
#Montando Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

In [0]:
#Instala a biblioteca weibull para análise de distribuição de Weibull
!pip install weibull

Collecting weibull
  Downloading https://files.pythonhosted.org/packages/bf/57/303949da738f3a9ea3148bc7dd1c6f92c9be0743e762329544286a536637/weibull-0.1.2-py3-none-any.whl
Requirement already satisfied: matplotlib>=2.0 in /usr/local/lib/python3.6/dist-packages (from weibull) (3.1.1)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from weibull) (0.25.2)
Requirement already satisfied: numpy>=1.0 in /usr/local/lib/python3.6/dist-packages (from weibull) (1.17.3)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from weibull) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0->weibull) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0->weibull) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0->weibull) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0->weibull) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.0->weibull) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=2.0->weibull) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0->weibull) (41.4.0)
Installing collected packages: weibull
Successfully installed weibull-0.1.2

In [0]:
path = 'gdrive/My Drive/CCD/'

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import weibull

In [0]:
#Leitura do dataframe contendo as medições de velocidade do vento apenas
vento = pd.read_csv(path + 'Clip/wind_only.csv').drop(columns = 'Unnamed: 0')

In [0]:
#Leitura do dataframe contendo metadados
meta = pd.read_csv(path + 'bdmep_meta.csv')

In [0]:
meta.head()

      id        lon        lat  ...  offset_utc         time_zone.1 offset_utc.1
0  83010 -68.733333 -11.016667  ...          -5  America/Rio_Branco           -5
1  82704 -72.666667  -7.633333  ...          -5  America/Rio_Branco           -5
2  82915 -67.800000  -9.966667  ...          -5  America/Rio_Branco           -5
3  82807 -70.766667  -8.166667  ...          -5  America/Rio_Branco           -5
4  83098 -36.166667 -10.150000  ...          -3      America/Maceio           -3

[5 rows x 11 columns]

In [0]:
# Cria novas colunas no dataframe para serem substituidas mais a frente
meta['shape'] = 0
meta['scale'] = 0
meta['vmp'] = 0
meta['vmaxE'] = 0
meta['p_vmp'] = 0
meta['p_vmaxE'] = 0
meta['w_mean'] = 0
meta['w_median'] = 0
meta['mean'] = 0
meta['median'] = 0

# Calculando parâmetros para os dados

In [0]:
def prob_weibull(v, shape, scale):
  
  """
  Função que calcula a respectiva probabilidade de valores menores do que dada
  velocidade do vento (v em m/s) em função dos parâmetros da distribuição de
  Weibull
  """
  
  k = shape
  c = scale
  
  prob = (k/c) * ((v/c) ** (k-1)) * np.exp(-((v/c)**k))
  
  return prob

def most_probable_wspeed(shape, scale):
  
  """
  Função que calcula a velocidade do vento mais provável em função dos 
  parâmetros da distribuição de Weibull
  """
  
  k = shape
  c = scale
  
  aux1 = np.power(((k -1) / k), (1/k))
  
  vmp = c * aux1
  
  return vmp

def most_energy_wspeed(shape, scale):
  
  """
  Função que calcula a velocidade do vento mais energética em função dos 
  parâmetros da distribuição de Weibull
  """
  
  k = shape
  c = scale
  
  vmaxE = c * (( (k + 2) / k) ** (1/k))
  
  return vmaxE

In [0]:
meta.shape

(389, 21)

In [0]:
# O código a seguir irá calcular diversos parâmetros em função da distribuição
# de Weibull para dado conjunto de medições de velocidade do vento

count = 1 # Contador para saber quantas cidades já foram analisadas

for cidade in vento['name'].unique():  
  
  try:
    
    temp = vento[vento['name'] == cidade].ws # Apenas dados de velocidade do vento
    temp = temp[temp != 0].dropna() # Elimina NaNs e valores iguais a zero
    
    # O zero é eliminado pois é necessário para a análise de Weibull
  
    print(f'Dados da cidade #{count}: {cidade} com {len(temp)} observações')
  
    analise = weibull.Analysis(temp) # Prepara os dados para análise
  
    analise.fit(method = 'mle') # Encontra os parâmetros através do método
                                # Maximum Likelihood Estimation (mle)
    shape = analise.beta # Parâmetro de forma (k ou beta)
    scale = analise.eta # Parâmetro de escala (c ou eta)
    
    vmp = most_probable_wspeed(shape, scale)  # Velocidade mais provável
    vmaxE = most_energy_wspeed(shape, scale) # Velocidade mais energética
  
    p_vmp = prob_weibull(vmp, shape, scale) # Probabilidade para vmp
    p_vmaxE = prob_weibull(vmaxE, shape, scale) # Probabilidade para vmaxE
  
    wmean = analise.mean # Valor médio segundo distribuição de Weibull
    wmedian = analise.median # Mediana segunda distribuição de Weibull
    
    mean = np.mean(temp) # Valor médio comum para os dados
    median = np.median(temp) # Mediana comum para os dados
  
    # O código abaixo irá colocar os valores calculados acima nas suas respectivas
    # cidades dentro do dataframe que continha os metadados
       
    meta['shape'] = np.where(meta['name'] == cidade, shape, meta['shape'])
    meta['scale'] = np.where(meta['name'] == cidade, scale, meta['scale'])
    meta['vmp'] = np.where(meta['name'] == cidade, vmp, meta['vmp'])
    meta['vmaxE'] = np.where(meta['name'] == cidade, vmaxE, meta['vmaxE'])
    meta['p_vmp'] = np.where(meta['name'] == cidade, p_vmp, meta['p_vmp'])
    meta['p_vmaxE'] = np.where(meta['name'] == cidade, p_vmaxE, meta['p_vmaxE'])
    meta['w_mean'] = np.where(meta['name'] == cidade, wmean, meta['w_mean'])
    meta['w_median'] = np.where(meta['name'] == cidade, wmedian, meta['w_median'])
    meta['mean'] = np.where(meta['name'] == cidade, mean, meta['mean'])
    meta['median'] = np.where(meta['name'] == cidade, median, meta['median'])
  
  except:
    
    # Quando não há observações de velocidade do vento, substituir
    # os valores que seriam calculados acima por NaNs, os quais serão
    # removidos posteriormente
    
    print(f'Cidade #{count} {cidade} com erros, shape: {temp.shape}.')
    
    meta['shape'] = np.where(meta['name'] == cidade, np.nan, meta['shape'])
    meta['scale'] = np.where(meta['name'] == cidade, np.nan, meta['scale'])
    meta['vmp'] = np.where(meta['name'] == cidade, np.nan, meta['vmp'])
    meta['vmaxE'] = np.where(meta['name'] == cidade, np.nan, meta['vmaxE'])
    meta['p_vmp'] = np.where(meta['name'] == cidade, np.nan, meta['p_vmp'])
    meta['p_vmaxE'] = np.where(meta['name'] == cidade, np.nan, meta['p_vmaxE'])
    meta['w_mean'] = np.where(meta['name'] == cidade, np.nan, meta['w_mean'])
    meta['w_median'] = np.where(meta['name'] == cidade, np.nan, meta['w_median'])
    meta['mean'] = np.where(meta['name'] == cidade, np.nan, meta['mean'])
    meta['median'] = np.where(meta['name'] == cidade, np.nan, meta['median'])
  
  count += 1 # Contador para saber quantas cidades já foram analisadas

Dados da cidade #1: Brasiléia com 1274 observações
Dados da cidade #2: Cruzeiro do Sul com 8149 observações
Dados da cidade #3: Rio Branco com 14628 observações
Dados da cidade #4: Tarauacá com 12974 observações
Dados da cidade #5: Coruripe com 4281 observações
Dados da cidade #6: Maceió com 11638 observações
Dados da cidade #7: Mata Grande com 3652 observações
Dados da cidade #8: Palmeira dos Índios com 12476 observações
Dados da cidade #9: Pão de Acuçar com 9255 observações
Dados da cidade #10: Porto de Pedras com 11947 observações
Dados da cidade #11: Barcelos com 18261 observações
Dados da cidade #12: Benjamin Constant com 16365 observações
Dados da cidade #13: Carauari com 6225 observações
Dados da cidade #14: Coari com 16116 observações
Dados da cidade #15: Codajás com 13936 observações
Dados da cidade #16: Eirunepé com 3556 observações
Dados da cidade #17: Fonte Boa com 16748 observações
Dados da cidade #18: Humaitá com 5624 observações
Dados da cidade #19: Itacoatiara com 14022 observações
Dados da cidade #20: Lábrea com 13650 observações
Dados da cidade #21: Manaus com 18980 observações
Dados da cidade #22: Manicoré com 18206 observações
Dados da cidade #23: Paricachoeira com 6205 observações
Dados da cidade #24: Parintins com 16012 observações
Dados da cidade #25: Rio Içana com 5265 observações
Dados da cidade #26: S. G. da Cachoeira(Uaupés) com 18727 observações
Dados da cidade #27: Santa Izabel do Rio Negro com 6070 observações
Dados da cidade #28: Taracuá com 6163 observações
Dados da cidade #29: Tefé com 14209 observações
Dados da cidade #30: Cupixi com 3490 observações
Dados da cidade #31: Macapá com 17511 observações
Dados da cidade #32: Porto Platon com 8005 observações
Dados da cidade #33: Alagoinhas com 15396 observações
Dados da cidade #34: Barra com 10156 observações
Dados da cidade #35: Barreiras com 16948 observações
Dados da cidade #36: Bom Jesus da Lapa com 14048 observações
Dados da cidade #37: Caetité com 12902 observações
Dados da cidade #38: Caravelas com 16300 observações
Dados da cidade #39: Cipó com 14716 observações
Dados da cidade #40: Correntina com 9137 observações
Dados da cidade #41: Cruz das Almas com 8885 observações
Dados da cidade #42: Feira de Santana com 6622 observações
Dados da cidade #43: Ilhéus com 9103 observações
Dados da cidade #44: Irecê com 10858 observações
Dados da cidade #45: Itaberaba com 11499 observações
Dados da cidade #46: Itaparica com 3501 observações
Dados da cidade #47: Itiruçu (Jaguaquara) com 13759 observações
Dados da cidade #48: Jacobina com 14437 observações
Dados da cidade #49: Lençóis com 16407 observações
Dados da cidade #50: Mata de São João com 3108 observações
Dados da cidade #51: Monte Santo com 13925 observações
Dados da cidade #52: Morro do Chapéu com 15640 observações
Dados da cidade #53: Paratinga com 1170 observações
Dados da cidade #54: Paulo Afonso com 14745 observações
Dados da cidade #55: Remanso com 13120 observações
Dados da cidade #56: Rio Real com 1014 observações
Dados da cidade #57: Salvador (Ondina) com 16929 observações
Dados da cidade #58: Santa Rita de Cássia (Ibipetuba) com 11835 observações
Dados da cidade #59: São Francisco do Conde com 3583 observações
Dados da cidade #60: Serrinha com 11670 observações
Dados da cidade #61: Acaraú com 7487 observações
Dados da cidade #62: Aracati com 2991 observações
Dados da cidade #63: Barbalha com 12097 observações
Dados da cidade #64: Campos Sales com 13254 observações
Dados da cidade #65: Crateús com 13816 observações
Dados da cidade #66: Fortaleza com 15366 observações
Dados da cidade #67: Guaramiranga com 13332 observações
Dados da cidade #68: Iguatu com 13946 observações
Dados da cidade #69: Jaguaruana com 11066 observações
Dados da cidade #70: Juazeiro do Norte com 3445 observações
Dados da cidade #71: Morada Nova com 17639 observações
Dados da cidade #72: Quixeramobim com 14338 observações
Dados da cidade #73: Sobral com 13458 observações
Dados da cidade #74: Tauá com 12881 observações
Dados da cidade #75: Brasília com 19809 observações
Dados da cidade #76: Alfredo Chaves com 0 observações
Cidade #76 Alfredo Chaves com erros, shape: (0,).
Dados da cidade #77: Aracruz com 0 observações
Cidade #77 Aracruz com erros, shape: (0,).
Dados da cidade #78: Boa Esperança com 0 observações
Cidade #78 Boa Esperança com erros, shape: (0,).
Dados da cidade #79: Cachoeiro do Itapemirim com 6922 observações
Dados da cidade #80: Ecoporanga com 0 observações
Cidade #80 Ecoporanga com erros, shape: (0,).

WARNING:weibull.weibull:the linear regression method is likely to yield better results with 1 data points

Dados da cidade #81: Itarana com 1 observações
Cidade #81 Itarana com erros, shape: (1,).

/usr/local/lib/python3.6/dist-packages/weibull/weibull.py:160: RuntimeWarning: invalid value encountered in double_scalars
  / (dtf_all.size - 1)) ** -0.5

Dados da cidade #82: Linhares com 10388 observações

WARNING:weibull.weibull:the linear regression method is likely to yield better results with 7 data points

Dados da cidade #83: Muniz Freire com 7 observações
Dados da cidade #84: São Mateus com 6796 observações
Dados da cidade #85: Venda Nova com 618 observações
Dados da cidade #86: Vitória com 13757 observações
Dados da cidade #87: Aragarças com 13394 observações
Dados da cidade #88: Catalão com 20036 observações
Dados da cidade #89: Formosa com 16574 observações
Dados da cidade #90: Goianésia com 5406 observações
Dados da cidade #91: Goiânia com 16731 observações
Dados da cidade #92: Goiás com 18268 observações
Dados da cidade #93: Ipameri com 14678 observações
Dados da cidade #94: Jataí com 8598 observações
Dados da cidade #95: Mineiros com 3596 observações
Dados da cidade #96: Pirenópolis com 14673 observações
Dados da cidade #97: Posse com 12134 observações
Dados da cidade #98: Rio Verde com 12700 observações
Dados da cidade #99: Alto Parnaíba com 12448 observações
Dados da cidade #100: Bacabal com 12233 observações
Dados da cidade #101: Balsas com 13064 observações
Dados da cidade #102: Barra do Corda com 16336 observações
Dados da cidade #103: Carolina com 13464 observações
Dados da cidade #104: Caxias com 12880 observações
Dados da cidade #105: Chapadinha com 11693 observações
Dados da cidade #106: Colinas com 8018 observações
Dados da cidade #107: Grajaú com 5403 observações
Dados da cidade #108: Imperatriz com 14858 observações
Dados da cidade #109: São Luis com 11061 observações
Dados da cidade #110: Turiaçu com 13383 observações
Dados da cidade #111: Zé Doca com 11464 observações
Dados da cidade #112: Aimorés com 13887 observações
Dados da cidade #113: Araçuaí com 18429 observações
Dados da cidade #114: Araxá com 16759 observações
Dados da cidade #115: Arinos com 12730 observações
Dados da cidade #116: Bambuí com 14820 observações
Dados da cidade #117: Barbacena com 18163 observações
Dados da cidade #118: Belo Horizonte com 19117 observações
Dados da cidade #119: Caldas (P. de Caldas) com 13130 observações
Dados da cidade #120: Cambuquira com 6336 observações
Dados da cidade #121: Caparaó com 11186 observações
Dados da cidade #122: Capinópolis com 14858 observações
Dados da cidade #123: Caratinga com 16197 observações
Dados da cidade #124: Cataguases com 5492 observações
Dados da cidade #125: Caxambu com 4532 observações
Dados da cidade #126: Conceição do Mato Dentro com 17199 observações
Dados da cidade #127: Coronel Pacheco com 12382 observações
Dados da cidade #128: Curvelo com 17732 observações
Dados da cidade #129: Diamantina com 14146 observações
Dados da cidade #130: Espinosa com 13889 observações
Dados da cidade #131: Fazenda Monte Alegre com 5426 observações
Dados da cidade #132: Florestal com 13700 observações
Dados da cidade #133: Formoso com 12006 observações
Dados da cidade #134: Frutal com 14331 observações
Dados da cidade #135: Governador Valadares com 10976 observações
Dados da cidade #136: Ibirité com 11781 observações
Dados da cidade #137: Itabira com 41 observações
Dados da cidade #138: Itamarandiba com 16911 observações
Dados da cidade #139: Itambacuri com 2005 observações
Dados da cidade #140: Januária com 14421 observações
Dados da cidade #141: João Monlevade com 11385 observações
Dados da cidade #142: João Pinheiro com 16324 observações
Dados da cidade #143: Juiz de Fora com 18857 observações
Dados da cidade #144: Lambari com 1717 observações
Dados da cidade #145: Lavras com 18135 observações
Dados da cidade #146: Lavras-ESAL. com 7490 observações
Dados da cidade #147: Machado com 17615 observações
Dados da cidade #148: Maria da Fé com 8975 observações
Dados da cidade #149: Minas Novas com 6316 observações
Dados da cidade #150: Mocambinho  com 10670 observações
Dados da cidade #151: Monte Azul com 10452 observações
Dados da cidade #152: Montes Claros com 14244 observações
Dados da cidade #153: Muriaé com 3441 observações
Dados da cidade #154: Oliveira com 14241 observações
Dados da cidade #155: Ouro Fino com 3208 observações
Dados da cidade #156: Paracatu com 14188 observações
Dados da cidade #157: Passa Quatro com 15086 observações
Dados da cidade #158: Patos de Minas com 17814 observações
Dados da cidade #159: Patrocínio com 5334 observações
Dados da cidade #160: Pedra Azul com 14432 observações
Dados da cidade #161: Pirapora com 16164 observações
Dados da cidade #162: Pompeu com 12774 observações
Dados da cidade #163: Salinas com 14499 observações
Dados da cidade #164: São Francisco com 6957 observações
Dados da cidade #165: São João del-Rei com 13170 observações
Dados da cidade #166: São Lourenço com 16454 observações
Dados da cidade #167: São Sebas. do Paraíso com 8859 observações
Dados da cidade #168: Sete Lagoas com 16382 observações
Dados da cidade #169: Teófilo Otoni com 15096 observações
Dados da cidade #170: Uberaba com 16069 observações
Dados da cidade #171: Unaí com 12641 observações
Dados da cidade #172: Usiminas com 7932 observações
Dados da cidade #173: Viçosa com 14412 observações
Dados da cidade #174:  Água Clara com 1777 observações
Dados da cidade #175: Aquidauana com 7807 observações
Dados da cidade #176: Campo Grande com 11794 observações
Dados da cidade #177: Corumbá  com 10980 observações
Dados da cidade #178: Coxim com 4329 observações
Dados da cidade #179: Dourados com 6749 observações
Dados da cidade #180: Ivinhema com 12888 observações
Dados da cidade #181: Paranaíba com 13539 observações
Dados da cidade #182: Ponta Porã com 13972 observações
Dados da cidade #183: Três Lagoas com 12494 observações
Dados da cidade #184: Cáceres com 12362 observações
Dados da cidade #185: Cuiabá com 14417 observações
Dados da cidade #186: Diamantino com 12823 observações
Dados da cidade #187: Gleba Celeste com 11799 observações
Dados da cidade #188: Meruri com 4941 observações
Dados da cidade #189: Poxoréo com 7380 observações
Dados da cidade #190: Rosário do Oeste com 0 observações
Cidade #190 Rosário do Oeste com erros, shape: (0,).
Dados da cidade #191: Sangradouro com 3717 observações
Dados da cidade #192: Utiariti com 1757 observações
Dados da cidade #193: Altamira com 14823 observações
Dados da cidade #194: Alto Tapajós com 4847 observações
Dados da cidade #195: Belém com 19260 observações
Dados da cidade #196: Belterra com 16840 observações
Dados da cidade #197: Breves com 14659 observações
Dados da cidade #198: Cametá com 17220 observações
Dados da cidade #199: Conceição do Araguaia com 17293 observações
Dados da cidade #200: Itaituba com 16999 observações
Dados da cidade #201: Marabá com 14327 observações
Dados da cidade #202: Monte Alegre com 16084 observações
Dados da cidade #203: Óbidos com 14635 observações
Dados da cidade #204: Porto de Moz com 17584 observações
Dados da cidade #205: Santarém (Taperinha) com 7135 observações
Dados da cidade #206: São Félix do Xingu com 12974 observações
Dados da cidade #207: Soure com 19782 observações
Dados da cidade #208: Tracuateua (Desativada) com 5316 observações
Dados da cidade #209: Tracuateua (Operante) com 10725 observações
Dados da cidade #210: Tucuruí com 15728 observações
Dados da cidade #211: Campina Grande com 14895 observações
Dados da cidade #212: João Pessoa com 16337 observações
Dados da cidade #213: Monteiro com 12891 observações
Dados da cidade #214: São Gonçalo com 13798 observações
Dados da cidade #215: Umbuzeiro com 3393 observações
Dados da cidade #216: Arcoverde com 11603 observações
Dados da cidade #217: Cabrobó com 15216 observações
Dados da cidade #218: Caruaru com 3848 observações
Dados da cidade #219: Floresta com 7151 observações
Dados da cidade #220: Garanhuns com 14280 observações
Dados da cidade #221: Olinda com 1979 observações
Dados da cidade #222: Ouricuri com 10647 observações
Dados da cidade #223: Pesqueira com 14643 observações
Dados da cidade #224: Petrolândia com 3722 observações
Dados da cidade #225: Petrolina com 13560 observações
Dados da cidade #226: Recife (Curado) com 18817 observações
Dados da cidade #227: Surubim com 16829 observações
Dados da cidade #228: Triunfo com 14455 observações
Dados da cidade #229: Alto Longa (Piloto do Longa) com 0 observações
Cidade #229 Alto Longa (Piloto do Longa) com erros, shape: (0,).
Dados da cidade #230: Bom Jesus do Piauí com 13082 observações
Dados da cidade #231: Caldeirão com 6203 observações
Dados da cidade #232: Caracol com 9993 observações
Dados da cidade #233: Floriano com 11198 observações
Dados da cidade #234: Luzilândia (Lag. do Piauí) com 10023 observações
Dados da cidade #235: Morro dos Cavalos com 9544 observações
Dados da cidade #236: Parnaíba com 11909 observações
Dados da cidade #237: Paulistana com 10449 observações
Dados da cidade #238: Picos com 13979 observações
Dados da cidade #239: Teresina com 12972 observações
Dados da cidade #240: Vale do Gurgueia (Cristiano Castro) com 9514 observações
Dados da cidade #241: Campo Mourão com 18889 observações
Dados da cidade #242: Castro com 16549 observações
Dados da cidade #243: Curitiba com 20053 observações
Dados da cidade #244: Foz do lguaçu com 5744 observações
Dados da cidade #245: Guaíra com 11198 observações
Dados da cidade #246: Guarapuava com 4597 observações
Dados da cidade #247: Irati com 18004 observações
Dados da cidade #248: Ivaí com 14523 observações
Dados da cidade #249: Londrina com 13556 observações
Dados da cidade #250: Maringá com 16236 observações
Dados da cidade #251: Palmas com 11279 observações
Dados da cidade #252: Paranaguá com 15348 observações
Dados da cidade #253: Ponta Grossa com 3972 observações
Dados da cidade #254: Rio Negro com 6317 observações
Dados da cidade #255: São Mateus do Sul com 4110 observações
Dados da cidade #256: Toledo com 3822 observações

WARNING:weibull.weibull:the linear regression method is likely to yield better results with 2 data points

Dados da cidade #257: Alto da Boa Vista com 2 observações
Dados da cidade #258: Angra dos Reis com 4131 observações
Dados da cidade #259: Araras com 5301 observações
Dados da cidade #260: Avelar com 9135 observações
Dados da cidade #261: Bangu com 1641 observações
Dados da cidade #262: Barreirinha com 5944 observações
Dados da cidade #263: Cabo Frio (Alcalis) com 5863 observações
Dados da cidade #264: Campos  com 15842 observações
Dados da cidade #265: Carmo com 4071 observações
Dados da cidade #266: Cordeiro com 921 observações
Dados da cidade #267: Ecologia Agrícola com 7930 observações
Dados da cidade #268: Engenho de Dentro com 435 observações
Dados da cidade #269: Gra. Juriti (Petrópolis) com 0 observações
Cidade #269 Gra. Juriti (Petrópolis) com erros, shape: (0,).
Dados da cidade #270: Iguaba Grande com 3137 observações
Dados da cidade #271: Ilha Guaíba com 4603 observações
Dados da cidade #272: Itaperuna com 8711 observações
Dados da cidade #273: Jacarepaguá com 1687 observações
Dados da cidade #274: Jardim Botânico com 1418 observações
Dados da cidade #275: Penha com 1357 observações
Dados da cidade #276: Pinheiral com 3483 observações
Dados da cidade #277: Piraí com 5811 observações
Dados da cidade #278: Resende com 11863 observações
Dados da cidade #279: Rio de Janeiro com 11180 observações
Dados da cidade #280: Santa Cruz com 4605 observações
Dados da cidade #281: Santa Maria Madalena com 4463 observações
Dados da cidade #282: Santa Teresa com 1962 observações
Dados da cidade #283: Santo Antônio de Pádua com 675 observações
Dados da cidade #284: São Bento (Duque de Caxias) com 5669 observações
Dados da cidade #285: São Fidelis com 1682 observações
Dados da cidade #286: Teresópolis com 5226 observações
Dados da cidade #287: Teresópolis - P. Nacional com 3189 observações
Dados da cidade #288: Tinguá com 907 observações
Dados da cidade #289: Vassouras com 6896 observações
Dados da cidade #290: Apodí com 12645 observações
Dados da cidade #291: Ceará Mirim com 12168 observações
Dados da cidade #292: Cruzeta com 18394 observações
Dados da cidade #293: Florânia com 14288 observações
Dados da cidade #294: Macau com 12147 observações
Dados da cidade #295: Mossoró com 7039 observações
Dados da cidade #296: Natal com 15374 observações
Dados da cidade #297: Porto Velho com 8053 observações
Dados da cidade #298: Boa Vista com 13986 observações
Dados da cidade #299: Caracaraí com 8970 observações
Dados da cidade #300: Alegrete com 6130 observações
Dados da cidade #301: Bagé com 18243 observações
Dados da cidade #302: Bento Gonçalves com 14647 observações
Dados da cidade #303: Bom Jesus com 16164 observações
Dados da cidade #304: Caçapava do Sul com 4588 observações
Dados da cidade #305: Cachoeira do Sul com 7187 observações
Dados da cidade #306: Caxias do Sul com 16800 observações
Dados da cidade #307: Cruz Alta com 16988 observações
Dados da cidade #308: Encruzilhada do Sul com 15752 observações
Dados da cidade #309: Guaporé com 6138 observações
Dados da cidade #310: Iraí com 17091 observações
Dados da cidade #311: Itaqui com 6583 observações
Dados da cidade #312: Lagoa Vermelha com 10185 observações
Dados da cidade #313: Marcelino Ramos com 3882 observações
Dados da cidade #314: Palmeira das Missões com 5872 observações
Dados da cidade #315: Passo Fundo com 18189 observações
Dados da cidade #316: Pelotas com 12291 observações
Dados da cidade #317: Piratini com 3390 observações
Dados da cidade #318: Porto Alegre com 18918 observações
Dados da cidade #319: Rio Grande com 16172 observações
Dados da cidade #320: Santa Maria com 18086 observações
Dados da cidade #321: Santa Vitória do Palmar com 16058 observações
Dados da cidade #322: Santana do Livramento com 10151 observações
Dados da cidade #323: Santo Ângelo com 3409 observações
Dados da cidade #324: São Gabriel com 5615 observações
Dados da cidade #325: São Luiz Gonzaga com 18131 observações
Dados da cidade #326: Tapes com 4951 observações
Dados da cidade #327: Torres com 17597 observações
Dados da cidade #328: Uruguaiana com 16740 observações
Dados da cidade #329: Vacaria com 4981 observações
Dados da cidade #330:  Araranguá  com 3993 observações
Dados da cidade #331: Camboriú com 5274 observações
Dados da cidade #332: Campos Novos com 14860 observações
Dados da cidade #333: Chapecó com 13190 observações
Dados da cidade #334: Florianópolis com 16869 observações
Dados da cidade #335: Indaial com 13352 observações
Dados da cidade #336: Irineópolis  com 7132 observações
Dados da cidade #337: Lages com 17069 observações
Dados da cidade #338: Laguna com 7909 observações
Dados da cidade #339: Orleans com 7002 observações
Dados da cidade #340: Porto União com 6297 observações
Dados da cidade #341: São Francisco do Sul com 3886 observações
Dados da cidade #342: São Joaquim com 16163 observações
Dados da cidade #343: Urussanga com 13197 observações
Dados da cidade #344: Xanxerê com 8401 observações
Dados da cidade #345: Aracaju com 15803 observações
Dados da cidade #346: Itabaianinha com 14558 observações
Dados da cidade #347: Propriá com 11107 observações
Dados da cidade #348: Araçatuba com 6286 observações
Dados da cidade #349: Avaré com 12084 observações
Dados da cidade #350: Bananal com 2667 observações
Dados da cidade #351: Barretos com 4742 observações
Dados da cidade #352: Campinas com 4603 observações
Dados da cidade #353: Campos do Jordão com 13926 observações
Dados da cidade #354: Catanduva com 18900 observações
Dados da cidade #355: Colina com 4833 observações
Dados da cidade #356: Coop. Agrícola de Cotia com 3117 observações
Dados da cidade #357: Fazenda Ipanema (Est. Desativada) com 2730 observações
Dados da cidade #358: Franca com 19958 observações
Dados da cidade #359: Guarulhos com 10464 observações
Dados da cidade #360: Iguape com 11719 observações
Dados da cidade #361: Itapeva com 7073 observações
Dados da cidade #362: Jaboticabal com 3917 observações
Dados da cidade #363: Lins com 6578 observações
Dados da cidade #364: Mogi das Cruzes com 2598 observações
Dados da cidade #365: Nova Odessa com 2707 observações
Dados da cidade #366: Paraibuna com 4105 observações
Dados da cidade #367: Presidente Prudente com 17570 observações
Dados da cidade #368: Santa Rita com 6267 observações

/usr/local/lib/python3.6/dist-packages/weibull/weibull.py:165: RuntimeWarning: overflow encountered in power
  b = np.sum(dtf_all ** shape)
/usr/local/lib/python3.6/dist-packages/weibull/weibull.py:166: RuntimeWarning: overflow encountered in power
  c = np.sum((dtf_all ** shape) * np.log(dtf_all))
/usr/local/lib/python3.6/dist-packages/weibull/weibull.py:167: RuntimeWarning: overflow encountered in power
  h = np.sum((dtf_all ** shape) * (np.log(dtf_all)) ** 2)
/usr/local/lib/python3.6/dist-packages/weibull/weibull.py:169: RuntimeWarning: invalid value encountered in double_scalars
  shape = shape + (a + (1.0 / shape) - (c / b)) / ((1.0 / shape ** 2) + ((b * h) - c ** 2) / b ** 2)

Cidade #368 Santa Rita com erros, shape: (6267,).
Dados da cidade #369: Santos com 9151 observações
Dados da cidade #370: São Carlos com 19666 observações
Dados da cidade #371: São José dos Campos com 5667 observações
Dados da cidade #372: São Paulo - Horto Florestal com 6905 observações
Dados da cidade #373: São Paulo (Mir. de Santana) com 20681 observações
Dados da cidade #374: São Simão com 15703 observações
Dados da cidade #375: Sertãozinho com 3147 observações
Dados da cidade #376: Sorocaba com 11393 observações
Dados da cidade #377: Tamoio com 3524 observações
Dados da cidade #378: Taubaté com 7928 observações
Dados da cidade #379: Tremembé com 5554 observações
Dados da cidade #380: Ubatuba com 14352 observações
Dados da cidade #381: Usina Junqueira com 3570 observações
Dados da cidade #382: Votuporanga com 7933 observações
Dados da cidade #383: Araguaina com 12347 observações
Dados da cidade #384: Paranã com 9026 observações
Dados da cidade #385: Pedro Afonso com 13058 observações
Dados da cidade #386: Peixe com 15386 observações
Dados da cidade #387: Porto Nacional com 17223 observações
Dados da cidade #388: Taguatinga com 13485 observações

# Identificando e consertando possíveis erros

In [0]:
len(meta['name'].unique()) # Número de cidades com nomes únicos

388

In [0]:
meta.shape # Formato do dataframe, 389 é diferente de 388, logo há uma cidade com nome repetido

(389, 21)

In [0]:
meta.name[meta['name'].duplicated(keep = False)] # Descobre nomes repetidos

250    Palmas
383    Palmas
Name: name, dtype: object

In [0]:
meta[meta['name'] == 'Palmas'] # Há duas cidades com nome Palmas, é preciso recalcular os seus parâmetros

        id        lon        lat  ...  w_median      mean    median
250  83860 -51.983333 -26.483333  ...  1.290561  1.463766  1.333333
383  83033 -48.300000 -10.183333  ...  1.290561  1.463766  1.333333

[2 rows x 21 columns]

In [0]:
meta.loc[250,:] # Palmas/PR

id                          83860
lon                      -51.9833
lat                      -26.4833
alt                       1090.52
name                       Palmas
state                      Paraná
uf                             PR
time_zone       America/Sao_Paulo
offset_utc                     -3
time_zone.1     America/Sao_Paulo
offset_utc.1                   -3
shape                     1.54496
scale                     1.63609
vmp                       0.37354
vmaxE                     2.42987
p_vmp                    0.381242
p_vmaxE                  0.185596
w_mean                      1.472
w_median                  1.29056
mean                      1.46377
median                    1.33333
Name: 250, dtype: object

In [0]:
# Calculando os parâmetros para Palmas/PR

temp = vento[(vento['name'] == 'Palmas') & (vento['uf'] == 'PR')].ws
temp = temp[temp != 0].dropna()

print(temp.shape)

analise = weibull.Analysis(temp)
  
analise.fit(method = 'mle')
    
shape = analise.beta
scale = analise.eta
  
print(f'beta: {shape: .02f}')
print(f'eta: {scale: .02f}')
    
vmp = most_probable_wspeed(shape, scale) 
vmaxE = most_energy_wspeed(shape, scale)
  
p_vmp = prob_weibull(vmp, shape, scale)
p_vmaxE = prob_weibull(vmaxE, shape, scale)
  
wmean = analise.mean
wmedian = analise.median
    
mean = np.mean(temp)
median = np.median(temp)

meta.loc[250,'shape'] = shape
meta.loc[250,'scale'] = scale
meta.loc[250,'vmp'] = vmp
meta.loc[250,'vmaxE'] = vmaxE
meta.loc[250,'p_vmp'] = p_vmp
meta.loc[250,'p_vmaxE'] = p_vmaxE
meta.loc[250,'w_mean'] = wmean
meta.loc[250,'w_median'] = wmedian
meta.loc[250,'mean'] = mean
meta.loc[250,'median'] = median

(3478,)
beta:  1.60
eta:  1.57

In [0]:
meta.loc[383,:] #Palmas/TO

id                          83033
lon                         -48.3
lat                      -10.1833
alt                           280
name                       Palmas
state                   Tocantins
uf                             TO
time_zone       America/Araguaina
offset_utc                     -3
time_zone.1     America/Araguaina
offset_utc.1                   -3
shape                     1.54496
scale                     1.63609
vmp                       0.37354
vmaxE                     2.42987
p_vmp                    0.381242
p_vmaxE                  0.185596
w_mean                      1.472
w_median                  1.29056
mean                      1.46377
median                    1.33333
Name: 383, dtype: object

In [0]:
# Calculando os parâmetros para Palmas/TO

temp = vento[(vento['name'] == 'Palmas') & (vento['uf'] == 'TO')].ws
temp = temp[temp != 0].dropna()

print(temp.shape)

analise = weibull.Analysis(temp)
  
analise.fit(method = 'mle')
    
shape = analise.beta
scale = analise.eta
  
print(f'beta: {shape: .02f}')
print(f'eta: {scale: .02f}')
    
vmp = most_probable_wspeed(shape, scale) 
vmaxE = most_energy_wspeed(shape, scale)
  
p_vmp = prob_weibull(vmp, shape, scale)
p_vmaxE = prob_weibull(vmaxE, shape, scale)
  
wmean = analise.mean
wmedian = analise.median
    
mean = np.mean(temp)
median = np.median(temp)

meta.loc[383,'shape'] = shape
meta.loc[383,'scale'] = scale
meta.loc[383,'vmp'] = vmp
meta.loc[383,'vmaxE'] = vmaxE
meta.loc[383,'p_vmp'] = p_vmp
meta.loc[383,'p_vmaxE'] = p_vmaxE
meta.loc[383,'w_mean'] = wmean
meta.loc[383,'w_median'] = wmedian
meta.loc[383,'mean'] = mean
meta.loc[383,'median'] = median

(7801,)
beta:  1.52
eta:  1.67

In [0]:
meta[meta['name'] == 'Palmas'] # Verificando se os parâmetros foram alterados de fato

        id        lon        lat  ...  w_median      mean    median
250  83860 -51.983333 -26.483333  ...  1.247780  1.396674  1.333333
383  83033 -48.300000 -10.183333  ...  1.310235  1.493678  1.266667

[2 rows x 21 columns]

In [0]:
# Remover linhas com poucas observações < 10
# cidades com poucas observações geraram valores anômalos  ['Alto da Boa Vista', 'Muniz Freire']
# é preciso removê-las

meta[meta['name'] == 'Alto da Boa Vista']

        id        lon    lat     alt  ...    w_mean  w_median mean median
256  83007 -43.266667 -22.95  347.09  ...  9.501424  9.518406  9.5    9.5

[1 rows x 21 columns]

In [0]:
meta[meta['name'] == 'Muniz Freire']

       id   lon    lat    alt  ...    w_mean  w_median      mean   median
82  83013 -41.4 -20.45  530.0  ...  3.399695  3.445305  3.380606  3.60108

[1 rows x 21 columns]

In [0]:
meta.drop([256, 82], axis = 0, inplace = True) # Removendo Alto da Boa Vista e Muniz Freire

In [0]:
meta.name[meta['shape'].isna()] # Identificando cidades sem observações de velocidade do vento

75                   Alfredo Chaves
76                          Aracruz
77                    Boa Esperança
79                       Ecoporanga
80                          Itarana
189                Rosário do Oeste
228    Alto Longa (Piloto do Longa)
268        Gra. Juriti (Petrópolis)
367                      Santa Rita
Name: name, dtype: object

In [0]:
meta.dropna(axis = 0, inplace = True) # Removendo as cidades acima

In [0]:
meta.shape # Verificando forma do dataframe

(378, 21)

In [0]:
meta.reset_index(drop = True, inplace = True) # Resetando índice

In [0]:
meta.to_excel(path + 'weibulldatabase.xls') # Salva os dados para Excel
meta.to_csv(path + 'weibulldatabase.csv') # Salva os dados para csv